/**
 * auth: nightc;
 * url: git.oschina.net/cnjack/qrcode;
 * e-mail: admin.nightc.com;
 */
/* content */
html{
	width:100%
}
.qrcode-content{
	width: 100%;
	margin: 0 auto;
	margin-top: 80px;
}

.qrcode-qrstring {
	height: 270px;
	width: 580px;
	float: left;
}
.qrcode-qrstring textarea {
	/*width: 100%;*/
	width: 100%;
	height: 100%;
}
.qrcode-qrstring .qrcode-create {
	height: 45px;
	line-height: 45px;
	text-align: center;
	width: 135px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #999;
	color: #FFF;
	border-radius: 3px;
	cursor: pointer;
}
.qrcode-qrstring .qrcode-create:hover {
	background-color: #ccc;
}
.qrcode-show {
	width: 270px;
	height: 270px;
	float: right;
	border:1px solid #676767;
}
.qrcode-help {
	display: block;
	width: 120px;
	height: 70px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	color: #676767;
}